# Data & Outputs
/data/

# Ignorer les gros fichiers CSV générés...
/out/*.csv

# Forcer Git à inclure les images et rapports dans le dossier out/
!/out/*.png
!/out/*.txt
!/out/*.json
# Secrets
.env

# Python
__pycache__/
*.pyc
.venv/